<html>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <script type="application/json" src='../app.js'></script>
    <head></head><title>Ask me anything</title></head>
    <body>
        <h1>Questions</h1>
        <h3>Welcome to the Big Questions of Our Time</h3>
        <ol id="questions"></ol>
        <form action="http://localhost:3000/api/subscribe" method = "POST">
        Subscribe to our weekly question diet by providing your name:
        <input type="text" name="name">
        and email address:
        <input type="text" name="email">
        <input type ="submit" value="Submit">
        </form>
    </body>
</html>
