extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST' action='/subscribe')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
            button(type='submit') Sign up
